*{
	font-family: 'Patrick Hand SC', cursive;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	margin: 20px;
	flex: 1 0 auto;
}
.lista li{
	padding-bottom: 20px;
}
#screen img{
	width: 100%;
	max-width: 288px;
}
#qr img{
	width: 100%;
	max-width: 200px;
}
#qr_code{
	display: none;
}
th{
	text-align: center;
	background-color: #5c6bc0;
	color: white;
}
canvas {
	max-width: 200px;
	margin: 0 auto;
	padding: 0px;
}
#map{
	max-width: 600px;
	width: 100%;
}
.icon{
	max-width: 30px;
}
.file{
	display: inline-block; 
	text-align: center;
	border: 1px solid #E6E6E6;
}
.name{
	width:100px;
	height:20px;
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
	text-align: center;
}
a{
	text-decoration: none;
	color:black;
}
.file:hover{
	background-color: #BDBDBD;
	border: 1px dashed black;
}
.contenedor_files{
	background-color: #E6E6E6;
	padding:10px;
	border: 3px solid #3f51b5;
	text-align: left;
	border-radius: 0px 0px 20px 20px;
}
#bat_cuerpo{
	padding: 0px;
	width: 200px;
	margin: 0 auto;
	height: 100px;
	border: 3px solid #424242;
	border-radius: 10px;
}
#bat_nivel{
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 194px;
	height: 94px;
	background-color: blue;
	border-radius: 7px;
	
}
#bat_numero{
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 30px;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}
#barra_archivos{
	border-radius: 20px 20px 0px 0px;
}
#screen{
	display: inline;
	background-color: red;
}